<div class="message-wrap">
    <div class="message left">         
          <div class="msg-detail">
            <div class="msg-info">
              <p>
                  {{msg.createdByUserName}}&nbsp;&nbsp;&nbsp;{{msg.createdDate | date:'medium'}}</p>
             </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{msg.messageText}}</p>
            </div>
          </div>
        </div>
      </div>