<div class="message-wrap">
<div *ngFor="let msg of msgList"
         class="message"
         [class.left]="msg.createdByUserId != user.id  "
         [class.right]="msg.createdByUserId === user.id ">
      
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.createdByUserName}}&nbsp;&nbsp;&nbsp;{{msg.createdDate | date:'medium'}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.messageText}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="msgbox">
  <div class="input-wrap">
    <textarea #messageText  >
    </textarea>
    <button  (click)="sendMsg(messageText.value) ;messageText.value=''">
        <i class="material-icons">send</i>
    </button>
  </div>
</div>