<agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [zoomControl]="true">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
  <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>

</agm-map>