.signin-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    padding: 0.01em 16px;

    label{
        padding: 10px;
    }
    button{
        padding: 5px;       
        width: 50%;
    }
    .margin-top{
        margin-top: 10px;
    }
}
.hidden{
    display: none
}