<div class="signin-content">
    <label style="background-color: yellow;">we have 2 participants [UserID: 1 & UserName: anas] and [UserID: 2 & UserName: sara] please login by one of them</label>
    <label>User ID:
        <input  type="number" [(ngModel)]="user.id" />
    </label>
    <label>User name:
      <input [(ngModel)]="user.name" />
    </label>
    <button class="margin-top" (click)="addUser(user.name,user.id)">
      Login
    </button>
    <label class="margin-top"  [class.hidden]="!isValid" style="background-color: red;">
      Please enter a user as described in yellow box
    </label>
</div>