
  <div class="w3-container w3-card header">
    <i class="material-icons" style="vertical-align: sub;">menu</i>
    <h4> {{title}}</h4>
  </div>

  <div class=" content">
    <router-outlet></router-outlet>
  </div>


<div class="footer" [class.hidden]="title == 'signin'">
  <a routerLink="/home" class="active"><i class="material-icons">home</i>Home</a>
  <a routerLink="/map"><i class="material-icons">map</i>Map</a>
  <a routerLink="/chat"><i class="material-icons">chat</i>Chat</a>
</div>
