.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #eee;
    border-top:1px solid #e2e2e2;
   a {
    width: calc(97% / 3);
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: gray
  }

   a i {
    display: block;
  }

   a:hover, a:active  {
    // background: white;
    color: dodgerblue
  }
}
  h4 {
    display: inline-block;
    padding: 0 15px
  }
  .content{
    height: calc(100% - 115px);
    // overflow-y: auto;
  }
  .header{
    background: #eee;
  }
  .hidden{
    display: none;
  }

